body{
    font-family: Arial;
    font-size: 18px;
}

ejemplo{
    display: block;
    text-align: center;
    background: #ffd563;
    border: 2px solid #ffbb00;
    border-radius: 5px;
    padding: 2px;
    margin: 3px;
}

#ecuacion{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    font-size: 1.1em;
    margin-top: 2em;

}

#ejemplos{
    border: 3px solid #ffbb00;
    border-radius: 5px;
}

#ecuacion-normalizada{
    font-size: 1.1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.explicacion{
    display: none;
    text-align: left;
    color: black;
    border: 3px solid #ffbb00;
    border-radius: 5px;
    margin: 0.2em;
    padding: 0.2em;
}

a{
    text-decoration: underline;
    color: #0f00e0;
}

.acordeon{
    cursor: pointer;
    margin-left: 1em;
    font-size: 0.7em;
}

.explicacion.visible{
    display: block;
}

div.error{
    color: #ff00ff;
    border: 2px solid red;
}

div.error::before{
    content: "⚠ ";
    font-size: 1.5em;
}


atomo, grupo, molecula{
    border: 0px;
    margin: 0px;
    padding: 0px;
}


ecuaciones{
    display: block;
    text-align: center;
}

ecuaciones table{
    margin-left: auto;
    margin-right: auto;
}

td, th{
    text-align: left;
}

matriz{
    display: inline-block;
    vertical-align: middle;
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding: 0.5em;
    border-top-left-radius: 0.7em 5em;
    border-top-right-radius: 0.7em 5em;
    border-bottom-right-radius: 0.7em 5em;
    border-bottom-left-radius: 0.7em 5em;
}

fila{
    display: table-row;
}

elemento{
    display: table-cell;
    padding: 0.3em;
}

implica{
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

@media only screen and (min-width: 500px) {
    /* MAYOR DE 768px */
    ejemplo{
        display: inline-block;
        text-align: left;
    }
}

